extends base
block content
    .login__div
        form.reg__form
            label.reg__labels(for="firstName") First name 
            input.reg#firstName(type="text" placeholder="Pero" autocapitalize="off" autocomplete="off")
            label.reg__labels(for="lastName") Last name 
            input.reg#lastName(type="text" placeholder="Peric" autocapitalize="off" autocomplete="off")
            label.reg__labels(for="pin") PIN
            input.reg#pin(type="text" placeholder="11111111111" autocapitalize="off" autocomplete="off")
            span(style="font-size:12px;color:crimson;") PIN: Max.length:11 | Min.length:11
            label.reg__labels(style="margin-top:10px;" for="email") E-mail address
            input.reg#email(style="margin-top:10px;" type="text" placeholder="email@example.com" autocomplete="off" autocapitalize="off")
            label.reg__labels(for="password") Password
            input.reg#password(type="password" placeholder="●●●●●●●●●●●" autocomplete="off" autocapitalize="off")
            label.reg__labels(for="passwordRepeat") Confirm password
            input.reg#passwordRepeat(type="password" placeholder="●●●●●●●●●●●" autocomplete="off" autocapitalize="off")
            label.reg__labels(for="phone") Phone number
            input.reg#phone(type="text" placeholder="0123456789" autocomplete="off" autocapitalize="off")
            span(style="font-size:12px;color:crimson;") Phone: Max.length:10 | Min.length:10
            button.reg#loginBtn= `Sign Up`