.header
    .header-el
        div
            a.logo(href="/")
                p.p__logo(style="background-image: url('/img/logo.png')")
        div
            h2= `Examination System🎓`
    .header-el
        a.a-head(href="/")= `Home`
        if user
            a.a-head(href="/teachers")= `Teachers`
            if user.role === 'teacher' || user.role === 'assistant'
                a.a-head(href='/students')= `Students`
                a.a-head(href='/subject-stats')= `Subject stats`
            if user.role === 'student' && user.submittedTests.length > 0
                a.a-head#my-tests(style="background-color: rgba(238, 47, 47, 0.568);color: rgb(255, 255, 255);)" href="/my-tests") My tests
            if user.role === 'teacher'
                a.a-head(href=`/grade-tests`)= `Grade tests`
            a.a-head#logOut Log out
            - const photoExists = user.photo !== 'Photo is not provided.' ? user.photo : `default`
            a.a-head(style=`display:inline-flex;background-image: url(/img/users/${photoExists}.jpg);background-size:cover;background-repeat:no-repeat;width:50px;height:50px;border:2px solid whitesmoke` href="/me")
            .div-welcome
                -const firstLetter = user.role[0].toUpperCase();
                -const roleAssignColor = user.role === 'teacher' ? 'red' : user.role === 'assistant' ? 'purple' : 'lime'
                p= `Welcome, ${user.firstName}!`
                p(style=`color: ${roleAssignColor}`)= `Role: ${user.role.replace(user.role[0], firstLetter)}`
        else
            a.a-head(href="/sign-up")= `Sign up`
            a.a-head(href="/log-in")= `Log in`
        