doctype html
html 
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet" href="/css/style.css")
        link(rel='shortcut icon' type='/image/png' href='/img/logo.png')
        link(rel="apple-touch-icon" sizes="180x180" href="/img/logo.png")
        link(rel="icon" type="image/png" sizes="32x32" href="/img/logo.png")
        link(rel="icon" type="image/png" sizes="16x16" href="/img/logo.png")
        link(rel="manifest" href="/img/site.webmanifest")
        title Examination System
        script(src="/js/index.js" type="module" defer)
    body
    include _header
    block content
    script(src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.5.1/axios.min.js")